div{
  color: #ffffff;
}

mat-expansion-panel{
  margin-bottom: 2rem;
}

mat-form-field{
  width: 100%;
  font-size: 18px;
}

mat-panel-title{
  font-size: 20px;
}

textarea{
  resize: none;
  overflow-y: hidden;
}

label{
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}

input{
  background-color: transparent;
}

/* Alert */
.alert-warning{
  color: #f44336;
  font-size: 15px;
  background-color: transparent;
}


/* Image */
.img-input{
  margin-top: 5px;
  margin-bottom: 15px;
}

/* Hall */
.hall_border{
  border-top: 2px #9e174d solid;
  padding-top: 1rem;
}

