<app-navbar></app-navbar>

<div class="container">
  <mat-expansion-panel #panelMovie>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add Movie
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="formMovie" (ngSubmit)="addMovie()" novalidate>
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput type="text" name="name" formControlName="name">
        <mat-error *ngIf="formMovie.controls['name'].invalid && !formMovie.controls['name'].hasError('required')">
          Place enter valid title
        </mat-error>
        <mat-error *ngIf="formMovie.controls['name'].hasError('required')">
          Enter a title!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Genre</mat-label>
        <mat-select formControlName="genre">
          <mat-option *ngFor="let genre of genres" [value]="genre">
            {{ genre }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formMovie.controls['genre'].hasError('required')">
          Select genre!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Descroption</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="7" formControlName="description"></textarea>
        <mat-error *ngIf="formMovie.controls['description'].hasError('required')">
          Enter description!
        </mat-error>
        <mat-error *ngIf="formMovie.controls['description'].invalid && !formMovie.controls['description'].hasError('required')">
          Enter valid description
        </mat-error>
      </mat-form-field>
      <label>Poster</label>
      <div class="poster-input">
        <input type="file" accept=".jpg, .jpeg, .png" (change)="onFileChange($event)" formControlName="poster">
      </div>
      <!-- <div *ngIf="formMovie.controls['poster'].hasError('required')" class="alert-warning">Upload poster</div> -->
      <mat-action-row>
        <app-button btnType="submit" btnName="Save!"></app-button>
      </mat-action-row>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel #panelSeance>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add Seance
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="formSeance" (ngSubmit)="addSeance()" novalidate>
      <label>Date</label>
      <app-datepicker dpPlaceholder="Pick date" dpPlacement="bottom" (dpBsValueChange)="setDate($event)">
      </app-datepicker>
      <label>Time</label>
      <timepicker [formControlName]="'time'"></timepicker>
      <!-- <div *ngIf="formSeance.controls['time'].hasError('required')" class="alert-warning">Upload poster</div> -->
      <mat-form-field>
        <mat-label>Movie</mat-label>
        <mat-select formControlName="movie">
          <mat-option *ngFor="let movie of movies" [value]="movie">
            {{ movie.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formSeance.controls['movie'].hasError('required')">
            Select genre!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput type="text" formControlName="price">
        <mat-error *ngIf="formSeance.controls['price'].invalid && !formSeance.controls['price'].hasError('required')">
            Set valid price!
        </mat-error>
        <mat-error *ngIf="formSeance.controls['price'].hasError('required')">
          Set price!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cinema hall</mat-label>
        <mat-select formControlName="hall">
          <mat-option *ngFor="let hall of halls" [value]="hall">
            {{ hall.cinema.name }}: {{ hall.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formSeance.controls['hall'].hasError('required')">
          Select cinema hall!
        </mat-error>
      </mat-form-field>
      <mat-action-row>
        <app-button btnType="submit" btnName="Save!"></app-button>
      </mat-action-row>
    </form>
  </mat-expansion-panel>
</div>

<app-footer></app-footer>
