<app-navbar></app-navbar>

<div class="container">
  <div class="account">
    <app-animation animationImage="fas fa-user"></app-animation>
    <div class="acount--info">
      <div class="name">
        {{ currentUser.firstName }} {{ currentUser.lastName }}
      </div>
      <div class="billing">
        <p>{{ billingModel.balance }}$</p>
        <app-button btnName="Put money" (click)="openPutMoneyDialog()"></app-button>
      </div>
    </div>
  </div>
  <div class="tickets">
    <ng-container *ngFor="let ticket of places">
      <mat-card>
        <mat-card-title>{{ ticket.seance.date | date}}; {{ ticket.seance.time }}</mat-card-title>
        <mat-card-subtitle>cinema: {{ ticket.seance.hall.cinema.name }}, hall: {{ ticket.seance.hall.name }}
        </mat-card-subtitle>
        <mat-card-content>
          <h5>row: {{ ticket.row }}, site: {{ ticket.site }}</h5>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>

<app-footer></app-footer>
