<app-navbar></app-navbar>

<div class="container">
  <div class="movie">
    <div class="movie__img">
      <img [src]="movieModel.poster" alt="http://placehold.it/200x300" class="movie__img">
    </div>
    <div class="movie__name">
      {{ movieModel.name }}
    </div>
    <div class="movie__genre">{{ movieModel.genre }}</div>
    <div class="movie__des">{{ movieModel.description }}</div>
  </div>
  <div *ngIf="seances.length !== 0">
    <div *ngFor="let cinema of cinemas">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Cinema: {{ cinema.name }}
          </mat-card-title>
          <mat-card-subtitle>
            <h6>Address: {{ cinema.address }}</h6>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="seances">
            <div *ngFor="let seances of seances">
              <ng-container *ngIf="seances.hall.cinema.name == cinema.name">
                <div class="seance--info">
                  <p>{{ seances.time | time }}</p>
                  <p>{{ seances.price | number }}$</p>
                  <app-button *ngIf="isAuthorized" btnName="Buy ticket" (click)="openPlaceDialog(seances)"></app-button>
                </div>
              </ng-container>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <h1 *ngIf="seances.length == 0">Sorry, no seances for this date</h1>
  <app-datepicker dpPlaceholder="Pick date" dpPlacement="top" (dpBsValueChange)="pickDate($event)"></app-datepicker>
</div>

<app-footer></app-footer>
