mat-card {
  margin-top: 50px;
  border-top: 2px #9e174d solid;
}

h1{
  color: #ffffff;
}

/* Movie */
.movie {
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 1%;
  align-items: stretch;
}

.movie__name {
  text-align: center;
  color: #ffffff;
  font-size: 60px;
  font-weight: 500;
}

.movie__img {
  justify-self: center;
  box-shadow: 6px 4px 18px 0px #000000;
}

.movie__genre {
  justify-self: center;
  font-size: 25px;
  color: #ffffff;
  cursor: pointer;
}

.movie__des {
  font-size: 25px;
  color: #ffffff;
}

/* Seances */
.seances {
  display: grid;
  justify-content: space-evenly;
  text-align: center;
  grid-template-columns: repeat(auto-fit, 1fr);
  /* min-width: 30%; */
}

.seance--info {
  margin-left: 10%;
}
