p{
  outline: none;
}

span{
  outline: none;
}

img{
  outline: none;
}

/* Rubric */
.rubric{
  color: #ffffff;
  font-size: 60px;
  text-align: center;
  margin-top: 60px;
  font-family: 'Kalam', cursive;
  font-weight: 700;
  cursor: pointer;
}

.rubric:after{
  content: "";
  display: block;
  height: 3px;
  width: 60px;
  background-color: #9e174d;
  margin: auto;
}

.rubric:hover{
  color: #9e174d;
}

.rubric__ittem{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  text-align: center;
  color: #ffffff;
}

/* Movie, Cinema */
.movie__item, .cinema__item{
  width: 30%;
}

.movie__name, .cinema__name{
  font-size: 30px;
  font-weight: 500;
  /* margin: 15px auto; */
  cursor: pointer;
  text-align: center;
}

.movie__genre{
  font-size: 25px;
  font-weight: 250;
  /* margin: 15px auto; */
  cursor: pointer;
}

.movie__img:hover{
  box-shadow: 12px 12px 12px 0px #9e174d;
  transform: translate(-10px, -10px);
  transition: transform 0.2s linear;
  cursor: pointer;
}

.cinema__img{
  cursor: pointer;
}

.cinema__img:hover{
  box-shadow: 12px 12px 12px 0px #9e174d;
  transform: translate(-10px, -10px);
  transition: transform 0.2s linear;
}


