<mat-toolbar color="primary">
  <span><a class="logo" [routerLink]="''"><i class="fas fa-film"></i>Cinema</a></span>
  <span class="space"></span>
  <span><a (click)="openSignUpDialog()">Sign up</a></span>
  <span><a (click)="openSignInDialog()">Sign in</a></span>
  <span><a [routerLink]="'/admin'">Admin</a></span>
  <span><a [routerLink]="'/movies'">Movies</a></span>
  <span><a [routerLink]="'/cinemas'">Cinemas</a></span>
  <span><a [routerLink]="'/user'">My Account</a></span>
  <span><a>Logout</a></span>
</mat-toolbar>
