mat-toolbar{
  padding: 0 3%;
  box-shadow: 0 0 15px #000;
  position: relative;
  position: fixed;
  top: 0;
  z-index: 10;
}

i{
  margin-right: 4px;
}

span{
  outline: none;
  text-decoration: none;
  cursor: pointer;
  margin-left: 1.5%;
}

.space {
  flex: 1 1 auto;
}

.logo{
  font-size: 30px;
  font-family: 'Sriracha', cursive;
}
