<h1 mat-dialog-title>Enter amount</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Amount</mat-label>
      <input matInput type="number" class="right-align" formControlName="amount">
      <span matPrefix>$&nbsp;</span>
      <mat-error *ngIf="form.controls['amount'].hasError('required')">
        Please enter amount!
      </mat-error>
      <mat-error *ngIf="!form.controls['amount'].hasError('required') && form.controls['amount'].invalid">
        Enter valid amount!
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <app-button btnName="Close" (click)="closeDialog()"></app-button>
    <app-button btnName="Put money" btnType="submit"></app-button>
  </div>
</form>
