a{
  text-decoration: none;
}

/* Container */
.container:before{
  content: "";
  display: block;
  height: 3px;
  width: 70%;
  background-color: #9e174d;
  margin: 15px auto;
}

/* Footer */
.footer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 15px;
  vertical-align: bottom;
  /* position: relative; */
}

.footer__element{
  margin-top: 10px;
}

/* Social */
.social__item{
  margin-left: 2%;
  cursor: pointer;
  font-size: larger;
  color: #ffffff;
}

.social__item:hover{
  color: #9e174d;
}

/* Map */
.map{
  font-size: larger;
  color: #ffffff;
  margin-left: 2%;
}

.map:hover{
  color: #9e174d;
}
