<div class="container">
  <div class="footer">
    <div class="footer__element">
      <span>Our email: Dima@mail.ru</span>
    </div>
    <div class="footer__element">
      <span>Our phone number: +375-29-1234567</span>
    </div>
    <div class="footer__element">
      <span>Our Social networks: </span>
      <a href="https://vk.com/dima_kozich" target="_blank"><i class="fab fa-vk social__item"></i></a>
      <a href="https://t.me/ganar_kdima" target="_blank"><i class="fab fa-telegram-plane social__item"></i></a>
      <a href="https://www.instagram.com/buzova86/?hl=ru" target="_blank"><i
          class="fab fa-instagram social__item"></i></a>
      <a href="https://twitter.com/kaolin_kdima" target="_blank"><i class="fab fa-twitter social__item"></i></a>
    </div>
    <div class="footer__element">
      <span>Our location: </span>
      <a href="https://goo.gl/maps/31vkgP1oRSck27h79" target="_blank"><i class="fas fa-map-marked-alt map"></i></a>
    </div>
  </div>
</div>
