<app-navbar></app-navbar>

<div class="container">
  <p class="rubric">Movies</p>
  <div class="all-movies">
    <div *ngFor="let m of paginationPage.listElements">
      <img src="http://placehold.it/200x300" class="all-movies__img" [routerLink]="['/movies', m.idMovie]">
      <div class="all-movies__name" [routerLink]="['/movies', m.idMovie]">{{ m.name }}</div>
      <div class="all-movies__genre">{{ m.genre }}</div>
    </div>
  </div>
  <mat-paginator [length]="paginationPage.totalElements"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = changePage($event)">
</mat-paginator>
</div>

<app-footer></app-footer>
