<div mat-dialog-title>
  <h3>{{ data.seance.movie.name }}</h3>
  <h5>{{ data.seance.time | time}}</h5>
</div>
<div mat-dialog-content>
  <div class="screen">Screen</div>
  <div *ngFor="let row of rows" class="places">
    <span class="row__number">{{ row }}</span>
    <span>
      <span *ngFor="let place of placeModels">
        <span *ngIf="place.row == row" [id]="place.idPlace"
          [ngClass]="{'place--vacancy': isVacancy(place), 'place--taken': isTaken(place), 'place--select': isSelectedByMe(place), 'place--other__select': isPlaceSelectedByOther(place)}"
          (click)="selectPlace(place)">
          <p>{{ place.site }}</p>
        </span>
      </span>
    </span>
  </div>
</div>
<div mat-dialog-actions>
  <app-button btnName="Close" (click)="closeDialog()"></app-button>
  <app-button btnName="Buy ticket" (click)="buyTicket()"></app-button>
</div>
