/* Scrin */
.screen{
  text-align: center;
}

.screen::after{
  display: block;
  content: '';
  width: 70%;
  height: 7px;
  background-color: #000000;
  border: 1px #000000 solid;
  border-radius: 10px;
  margin: auto;
}

/* Place */
.place--vacancy{
  margin: auto 5px;
  display: inline-block;
  content: '';
  width: 60px;
  height: 60px;
  border: 2px #9e174d solid;
  border-radius: 10px;
  cursor: pointer;
}

.place--vacancy:hover{
  background-color: #2e2e2e88;
}

.place--taken{
  margin: auto 5px;
  display: inline-block;
  content: '';
  width: 60px;
  height: 60px;
  background-color: #9e174d;
  border: 2px #9e174d solid;
  border-radius: 10px;
  cursor: not-allowed;
}

.place--select{
  margin: auto 5px;
  display: inline-block;
  content: '';
  width: 60px;
  height: 60px;
  background-color: #ff2da0e5;
  border: 2px #9e174d solid;
  border-radius: 10px;
  cursor: pointer;
}

.place--select:hover{
  background-color: #ff0066;
}

.place--other__select{
  margin: auto 5px;
  display: inline-block;
  content: '';
  width: 60px;
  height: 60px;
  background-color: #ffe364e5;
  border: 2px #9e174d solid;
  border-radius: 10px;
  cursor: not-allowed;
}

.place p{
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  padding-top: 12%;
}

.places{
  display: grid;
  justify-content: space-evenly;
}

/* Row */
.row__number{
  font-size: 20px;
  font-weight: 500;
  margin-right: 5px;
}
